.container {
    width: 80%;
    height: 100vh;
    border: 1px solid red;
    margin: 5px auto;
}

.items {
    width: 95%;
    height: 100px;
    border: 1px solid red;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}